@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

.scroll-reveal {
    view-timeline-name: --reveal;
    animation: cardReveal 0.9s cubic-bezier(0.22, 1, 0.36, 1) both;
    animation-timeline: --reveal;
    animation-range: entry 20% cover 45%;
    will-change: transform, opacity;
}

@keyframes cardReveal {
    from {
        opacity: 0;
        transform: translateY(24px) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@view-transition {
    navigation: auto;
}




@keyframes slide-out-to-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@layer utilities {
    .clip-trapecio {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}